numpy
gymnasium
argparse
torch
pettingzoo
pettingzoo[atari]
AutoROM
gym[atari]
tqdm
matplotlib
supersuit

# to study the behavior of our models towards SB pre-towed in env MPE. 
# Refer to /extras.
# stable_baselines3  